[Desktop Entry]
Name=The Passage
Comment=A game where you learn programming by hacking different elements.
Exec=com.endlessnetwork.passage.sh
Icon=com.endlessnetwork.passage
Terminal=false
Type=Application
Categories=Game;X-LearnToCode;
